<a href="/squirrels/new">Click here</a> to add a new squirrel.

<%= erb :'squirrels/_new_form' %>

<div id="squirrel-container">
  <% @squirrels.each do |squirrel| %>
    <%= erb :'squirrels/_short', locals: {squirrel: squirrel} %>
  <% end %>
</div>
